{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{title}}{% endblock %}</h1>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.1.min.js"
        crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    {{ script|safe }}
    {{ div|safe }}
{% endblock %}