{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Regrid{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST">
    <p>Longitude Step: </p><input type="number" name="Longitude Step" id="lon-step" placeholder="Longitude Step" min=0 step=0.01 value=1 required>
    <p>Latitude Step: </p><input type="number" name="Latitude Step" id="lat-step" placeholder="Latitude Step" min=0 step=0.01 value=1 required>
    <p>Interpolation Method:</p>
    <div>
      <input type="radio"
       name="interpolator" value="linear" checked>
      <label for="bilinear">Bilinear</label>
  
      <input type="radio"
       name="interpolator" value="nearest">
      <label for="nearest-neighbor">Nearest Neighbor</label>
  
    </div>
    <button class="btn btn-success btn-lg" type="submit" id="regrid-form-submit">
      <i class="fas fa-calculator"></i>
        Regrid
  </button>
</form>
{% endblock %}