{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Steps{% endblock %}</h1>
Datafile chosen: {{ data_file_name }}
<style>
    #stepsTable {
        margin-top: 1em;
        border: none;
    }

    #stepsTable th {
        padding-right: 1em;
        font-size: 12px;
        color: lightslategray;
    }

    #stepsTable td {
        min-width: 2em;
    }
</style>
{% endblock %}

{% block content %}
<h2>Workflow</h2>
<div id="steps"></div>
<h2>Assets</h2>
{{ assets_table|safe }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function getStepsTable() {
            fetch('/api/{{_id }}/stepsTable')
                .then((response) => {
                    return response.text();
                })
                .then((towers) => {
                    // do something with the data
                    console.log(towers);
                    let towersContainer = document.getElementById("steps");
                    towersContainer.innerHTML = towers;
                });
        }
        // call the method getTowers once to get initial data.
        getStepsTable();

        // call the method getTowers every second. So that the data will be updated.
        setInterval(getStepsTable, 10000);
    })
</script>
{% endblock %}