{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Steps{% endblock %}</h1>
Datafile chosen: {{ data_file_name }}
<style>
    #stepsTable {
        margin-top: 1em;
        border: none;
    }

    #stepsTable th {
        padding-right: 1em;
        font-size: 12px;
        color: lightslategray;
    }

    #stepsTable td {
        min-width: 2em;
    }
</style>
{% endblock %}

{% block content %}
<h2>Workflow</h2>
<div id="steps"></div>
<h2>Assets</h2>
<div id="assets" style="display: flex;flex-direction: column;align-items: center;"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function getStepsTable() {
            fetch('/api/{{_id }}/steps/stepsTable')
                .then((response) => {
                    return response.text();
                })
                .then((table) => {
                    // do something with the data
                    let container = document.getElementById("steps");
                    container.innerHTML = table;
                });
        }

        function getAssetsTable() {
            fetch('/api/{{_id }}/steps/assetsTable')
                .then((response) => {
                    return response.text();
                })
                .then((table) => {
                    // do something with the data
                    let container = document.getElementById("assets");
                    container.innerHTML = table;
                });
        }


        // call the method getStepsTable once to get initial data.
        getStepsTable();
        getAssetsTable();

        // call the method getStepsTable every 10 second. So that the data will be updated.
        setInterval(getStepsTable, 10000);
        setInterval(getAssetsTable, 10000);
    })
</script>
{% endblock %}