<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login-page.css') }}">

  <script defer src="login-page.js"></script>
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">Register</h1>
    
    <form id="login-form" method="POST">
      <input type="text" name="username" id="username" class="login-form-field" placeholder="Username" required>
      <input type="password" name="password" id="password" class="login-form-field" placeholder="Password" required>
      <input type="submit" value="Register" id="login-form-submit">
    </form>
  
  </main>
</body>

</html>