matplotlib
panel ~= 0.12.0
bokeh ~= 2.4.0
holoviews ~= 1.14.0
datashader
hvplot
shapely
xarray > 0.16.1
h5netcdf
netcdf4
scipy
requests
spatialpandas
palettable
scikit-image # reconstruction used for filling DEMS
