<!DOCTYPE html>
<html>
<head>
<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}
</style>
</head>
<body>

<div class="myDiv">
  <h2>Netcdf Editor App</h2>
  <p>Welcome to the netcdf editor app</p>
  <p>Check out for the <a href="https://www.cerege.fr/fr">CEREGE home website</a> </p>
  <p>If you want to know more about the app <a href="https://cerege-cl.github.io/netcdf_editor_app/multi">link</a> </p>
</div>

<br>

<p>Authors: Wesley Banfield (<a href="mailto:banfield@cerege.fr">banfield@cerege.fr</a>), Yannick Donnadieu (<a href="mailto:donnadieu@cerege.fr">donnadieu@cerege.fr</a>)</p>

<p>Return to <a href="{{ url_for('auth.login') }}">login page</a></p>

</body>
</html>
