html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 80vw;
  margin: 0 auto;
  background: white;
  padding-top: 4.5rem;
}

.login {
  display: inline-block;
  position: fixed;
  top: 40vh;
  left: 40vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #046690;
  margin: 1rem 0;
}

a {
  color: #046690;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
  margin: 0px;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  /* margin-bottom: 12px; */
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: center;
  font-size: 0.85em;
  height: 100px;
  padding: 0px 10px;
  transition: all 0.3s;
}

.post>header:hover {
  background-color: #f1f1f1;
  transition: all 0.3s;
}

.post > header > div {
  flex: auto;
  display: flex;
  /* align-items: center; */
}

.post > header h1 {
  font-size: 1.5em;
  margin: 0;
}

.post > header > div > a > .duplicated {
  margin: 0px; 
  color:#30a746;
}
.post > header > div > a > .received {
  margin: 0px; 
  color:#32a2b8;
}

.post > header > form {
  margin-left: 5px;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #377ba8; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
} */

.table {
  width: 50%;
  margin: auto;
}

.table td {
  vertical-align: middle;
}
