{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{title}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="alert alert-info">
    This will run the <a href="https://forge.ipsl.jussieu.fr/igcmg/browser/TOOLS/MOZAIC">Mosaic</a>/
    <a href="https://forge.ipsl.jussieu.fr/igcmg/browser/TOOLS/MOSAIX">Mosaix</a> code to
    calculate the weights between the ocean and the atmosphere. The results will be saved into a tar File
    that <b>YOU</b> need to copy to your simulateur.
</div>

{% if not has_subbasins %}
<div class="alert alert-danger" role="alert">
    <p>Subbasins has not been run</p>
    <button type="submit" class="btn btn-success btn-lg" onclick="window.location.href='{{ url_for( 'app.subbasins' , _id=_id ) }}';">
        <i class="fas fa-calculator"></i>
        Subbasins
    </button>
</div>
{% endif %}

{% if not has_bathy %}
<div class="alert alert-danger" role="alert">
    <p>Routing has not been run</p>
    <button type="submit" class="btn btn-success btn-lg" onclick="window.location.href='{{ url_for( 'app.routing' , _id=_id ) }}';">
        <i class="fas fa-calculator"></i>
        Routing
    </button>
</div>
{% endif %}

<form name="form" method=post enctype=multipart/form-data>
    <label for="engine">Engine :</label>
    <div>
        <input type="radio" name="engine" id="engine" value="mosaic" checked>
        <label for="engine">Mosaic</label>

        <input type="radio" name="engine" id="engine" value="mosaix">
        <label for="engine">Mosaix</label>
    </div>
    <button id="submit" type="submit" class="btn btn-success btn-lg">
        <i class="fas fa-calculator"></i>
        Start Processing
    </button>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        function isValid() {
            {% if not has_subbasins %}
                return false
            {% endif %}
            {% if not has_bathy %}
                return false
            {% endif %}
            return true
        }

        function updateProcessing() {
            var valid = isValid();
            if (valid) {
                $('#submit').attr('disabled', false)
            } else {
                $('#submit').attr('disabled', true)
            }
        }

        updateProcessing()
    })
</script>
{% endblock %}