{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Run Processing{% endblock %}</h1>
<style>
    form>label {
        margin-top: 1em;
    }
</style>
{% endblock %}


{% block content %}
This will:
<ul>
    <li>Fill depression in topography</li>
    <li>Run equivalent of make_runoff_JB</li>
    <li>Run equivalent of make_pre_stn</li>
    <li>Run equivalent of make_stn</li>
</ul>

Differences:
<ul>
    <li>nav_lat and nav_lon are assigned as coorindates and not data variables in the final netcdf file</li>
    <li>topo is also output in final netcdf file</li>
</ul>
<div style="display: flex; align-items: center; justify-content: center;">
    <div id="loading" style="display: none; padding: 10vh;">
        <div class="loader"></div>
        <p style="padding-top: 2em;">Uploading file to server ...</p>
    </div>
</div>

<div id="proc" class="center">
    {% if show_regrid %}
    <div class="alert alert-danger" role="alert">
        Wrong Shape got {{ data_shape }} expected (180, 360) Please regrid
        <form method="POST" action="{{ url_for('app.regrid', _id=_id) }}">
            <input type="hidden" name="Longitude Step" id="lon-step" placeholder="Longitude Step" value=1 required>
            <input type="hidden" name="Latitude Step" id="lat-step" placeholder="Latitude Step" value=1 required>
            <input type="hidden" name="limits" value="default">
            <p>Interpolation Method:</p>
            <div>
                <input type="radio" name="interpolator" value="linear" checked>
                <label for="bilinear">Bilinear</label>

                <input type="radio" name="interpolator" value="nearest">
                <label for="nearest-neighbor">Nearest Neighbor</label>

            </div>
            <button type="submit" class="btn btn-success btn-lg">
                <i class="fas fa-calculator"></i>
                Regrid
            </button>
            <input type="hidden" name="next" value="{{ url_for('app.routing', _id=_id) }}">
        </form>
    </div>
    {% endif %}
    <form name="form" method=post enctype=multipart/form-data>
        <label for="topo_var">Topography Variable:</label>
        <select name="topo_var">
            {% for name in variable_names %}
            <option value={{ name }}>{{ name }}</option>
            {% endfor %}
        </select>
        <label for="orcafile">Orca File:</label>
        <div>
            <input type="radio" name="orcafile" value="default" checked>
            <label for=default">Default</label>

            <input type="radio" name="orcafile" value="custom">
            <label for="custom">Custom</label>
        </div>
        <div id='defaultInfo' class="alert alert-info" role="alert">
            Using default file paleorca2_40Ma_grid.nc (149 x 182)
            <!--If you have already uploaded a file then that one will be used-->
        </div>
        <div id='uploadocra' class="alert alert-warning" role="alert">
            <p>
                Please ensure the file has "lat" and "lon" coorindates in curvilinear format.
            </p>
            <label for="orcaFileUpload">Orca input file</label>
            <input type="file" name="file" accept=".nc" class="form-control-file" id="orcaFileUpload">
        </div>
        {% if show_regrid %}
        <button id="submit" type="submit" class="btn btn-success btn-lg" onclick="$('#loading').show();$('#proc').hide();" disabled>
            <i class="fas fa-calculator"></i>
            Start Processing
        </button>
        {% else %}
        <button id="submit" type="submit" class="btn btn-success btn-lg" onclick="$('#loading').show();$('#proc').hide();">
            <i class="fas fa-calculator"></i>
            Start Processing
        </button>
        {% endif %}
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        var orca = document.form.orcafile;
        for (var i = 0; i < orca.length; i++) {
            orca[i].addEventListener('change', function () {
                if (this.value == 'custom') {
                    $('#uploadocra').show();
                    $('#defaultInfo').hide();
                } else {
                    $('#uploadocra').hide();
                    $('#defaultInfo').show();
                }
                updateProcessing();
            })
        }
        $('#uploadocra').hide();

        function isValid() {
            console.log(document.form.orcafile.value)
            console.log(document.getElementById("orcaFileUpload").files.length)
            console.log(document.getElementById("orcaFileUpload").files.length  < 1 && document.form.orcafile.value == 'custom')
            if(document.getElementById("orcaFileUpload").files.length  < 1 && document.form.orcafile.value == 'custom'){
                console.log("here")
                return false
            }
            return true
        }

        function updateProcessing() {
            var valid = isValid();
            console.log(valid)
            if(valid) {
                $('#submit').attr('disabled', false)
            } else {
                $('#submit').attr('disabled', true)
            }
        }

        $('#orcaFileUpload').change(function () {
            updateProcessing();
        })
    })
</script>
{% endblock %}