{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Steps{% endblock %}</h1>
Datafile chosen: {{ data_file_name }}
{% endblock %}

{% block content %}
<ul>
    <li>
        <a class="action" href="{{ url_for('app.map', _id=_id) }}">
            Map
        </a>
    </li>
    <li>
        <a class="action" href="{{ url_for('app.revision_comparison', _id=_id) }}">
            Revision Comparison
        </a>
    </li>
    <li>
        <a class="action" href="{{ url_for('app.variable_explorer', _id=_id) }}">
            Variable Explorer
        </a>
    </li>
    <li>
        <a class="action" href="{{ url_for('app.regrid', _id=_id) }}">
            Regrid
        </a>
    </li>
    <li>
        <a class="action" href="{{ url_for('app.internal_oceans', _id=_id) }}">
            Internal Oceans
        </a>
    </li>
    <li>
        <a class="action" href="{{ url_for('app.run_routing_steps', _id=_id) }}">
            Routing
        </a>
    </li>
    <li>
        <a class="action" href="{{ url_for('app.passage_problems', _id=_id) }}">
            Passage Problems
        </a>
    </li>
</ul>
{% endblock %}